language: go

go: 
  - 1.11.2

install: true

jobs:
  include:
    - name: Build and test on MacOS
      os: osx
      script:
        - go build ${gobuild_args} ./... && go test ${gobuild_args} ./...
    - name: Build and test on Ubuntu Bionic 18.04
      dist: bionic
      script:
        - mv transaction/txexec/libwasmlib.so.ubuntu transaction/txexec/libwasmlib.so
        - go build ${gobuild_args} ./... && go test ${gobuild_args} ./...
    - name: Code check
      os: osx
      addons:
        homebrew:
          packages:
          - golangci/tap/golangci-lint
          update: true
      script:
        - golangci-lint run -D errcheck,structcheck ./...
